<form action="/sign" method="post">
  <fieldset>
    <legend>请登录</legend>
    <p>用户名:
      <input type="text" name="user" />
    </p>
    <p>密码:
      <input type="text" name="password" />
    </p>
    <button>提交</button>
  </fieldset>
</form>
