<form action="/sign" method="post">
  <fieldset>
    <legend>请登录</legend>
    <p>User:
      <input type="text" name="user" />
    </p>
    <p>Password:
      <input type="text" name="password" />
    </p>
    <button>提交</button>
    {{title}}
  </fieldset>
</form>
